#keysViewContainer #itemContainer {
  position: relative;
  float: left;
  width: 100%;
}

#keysViewContainer #itemContainer .itemRoot {
  padding: 10px 0;
  width: 98%;
  float: left;
  margin: 0 10px;
  border-bottom: 1px dotted #d6d6d6;
}

#keysViewContainer #itemContainer .itemRoot input, #keysViewContainer #itemContainer .itemRoot .engText {
  width: 45%;
  float: right;
  margin-right: 10px;
  margin-top: 9px;
}

#keysViewContainer #itemContainer .itemRoot .keyText {
  width: auto;
  float: left;
  margin-left: 10px;
  margin-top: 9px;
}

#keysViewContainer #itemContainer .itemRoot .button-globe {
  float: right;
  width: 24px;
  height: 38px;
  margin-right: 25px;
  cursor: pointer;
  background: url(../images/globe.png) no-repeat 0px 50%;
}

#keysViewContainer #itemContainer .itemRoot .button-globe:hover {
  background: url(../images/globe.png) no-repeat -25px 50%;
}

#keysViewContainer #noResultMsg {
  width: 100%;
  height: auto;
  position: relative;
  display: none;
  float: left;
  text-align: center;
}

#keysViewContainer #headerContainer {
  width: 100%;
}

#keysViewContainer #headerContainer #keyTitle {
  margin-top: 20px;
  margin-left: 20px;
  float: left;
}

#keysViewContainer #headerContainer #engTitle {
  margin-top: 20px;
  width: 45%;
  margin-right: 59px;
  float: right;
}
